.changeStatus{
	cursor: pointer;
}
.highlight{
    word-break: break-all;
}
textarea {
  resize: vertical;
}

/* Login Buton CSS */
.login{
    background: hsla(0, 0%, 0%, 0) linear-gradient(to right, hsl(232, 38%, 53%) 0%, hsl(269, 33%, 38%) 80%, hsl(282, 36%, 33%) 100%) repeat scroll 0 0;
}
.login .content .form-actions .besttymeBtn{
    background: hsl(0, 0%, 100%) none repeat scroll 0 0;
    color: hsl(275, 35%, 35%);
}
.login .content .form-control{
    background-color: transparent;
    border: 1px solid #fdfdfd;
}

label.required:after {
    content: "*";
    padding-left:5%;
    color: red;
}
