.change-status{
	cursor: pointer;
}
/* .close{
    text-indent: 0px;
}
 */
.img-wraps {
    position: relative;
    display: inline-block;   
    font-size: 0;
}
.img-wraps .closes {
    position: absolute;
    top: 5px;
    right: 8px;
    z-index: 100;    
    color: #000;
    font-weight: bold;
    cursor: pointer;
   
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}
.img-wraps:hover .closes {
    opacity: 1;
}

.fix-profile-image{
    width:200px;
    height: 200px;
}
.page-header.navbar .page-logo .logo-default{
    margin: 0px;
}

.image-preview-input-title {
    margin-left:2px;
}
.page-footer .page-footer-inner{
    float: none;
}
.fileinput-filename{
    width: 155px;
}
.highlight{
    word-break: break-all;
}
textarea {
  resize: vertical;
}

/* Login Buton CSS */

.login{
    background: hsla(0, 0%, 0%, 0) linear-gradient(to right, hsl(232, 38%, 53%) 0%, hsl(269, 33%, 38%) 80%, hsl(282, 36%, 33%) 100%) repeat scroll 0 0;
}

.login .content .form-actions .besttymeBtn{
    background: hsl(0, 0%, 100%) none repeat scroll 0 0;
    color: hsl(275, 35%, 35%);
}

.login .content .form-control{
    background-color: transparent;
    border: 1px solid #fdfdfd;
}

label.required:after {
    content: "*";
    padding-left:5%;
    color: red;
}

.select-left{
   /* margin-left: -11px; */
}

#datepicker_from{
    width: 160px !important;
}
#datepicker_to{
    width: 160px !important;
}
.status_btn:hover {
    cursor: default;
}
.calender_lunch_breakfast_date{
    background-color: #f48787 !important;
    color: #fff !important;
}
.calender_bold_date{
    background: #b8760c !important;
    color: #fff !important;
}

#datetimepicker {
    width: 50%;
    margin: 0;
    text-align: center;
    display: inline-block;
    border: 1px solid #292a65;
}
td.day.active
{background: #292a65 !important;}

.calendar-sec
{
    text-align: center;
}
#datetimepicker th.prev {
    background: #292a65;
        color: #fff;
}
#datetimepicker th.picker-switch {
    background: #292a65 none repeat scroll 0 0;
    color: #ffffff;
}
#datetimepicker th.next {
    background: #292a65;
        color: #fff;
}
#datetimepicker .bootstrap-datetimepicker-widget table td span.active {
    background: #292a65 !important;
}
.hightlight-lunch{
    background-color: #b8760c;
    border-radius: 20% !important;
     height: 25px;width: 25px;
     display: inline-block;
}
.hightlight-breakfast{
    background-color: #f48787;
    border-radius: 20% !important; 
    height: 25px;
    width: 25px;
    display: inline-block;
}
.hightlight-font-calendar{
    position: absolute;
    margin-left: 18px;
    font-size: 15px;
    font-weight: 600;
}
/* .modal .modal-header button.close  {
    height: auto;
    width: auto;
} */
.dropdown-menu li > a {
    padding: 3px 14px;
 text-align: left;
 }  
 .dropdown-menu {
    min-width: 130px;
}
.capitial {
text-transform: capitalize;
 }
 #message {
    display:none;
    background: #f1f1f1;
    color: #000;
  
}
#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
    color: green
}
/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
    color: red;
}
.valid:before{
    position: relative;
    left: 0;
    content: "\f00c";
    font-family:'FontAwesome';
    color: #fff;
    height: 20px;
    width: 20px;
    background: green;
    text-align: center;
    padding: 0 !important;
    display: inline-block;
    border-radius: 50%;
    line-height: 20px;
    font-size: 13px;
    margin-right: 5px;
}
.invalid::before {
    position: relative;
    left: 0;
    content: "\f00d";
    font-family:'FontAwesome';
    color: #fff;
    height: 20px;
    width: 20px;
    background: red;
    text-align: center;
    padding: 0 !important;
    display: inline-block;
    border-radius: 50%;
    line-height: 20px;
    font-size: 13px;
    margin-right: 5px;
}
::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#message
{
position: absolute;
    left: 15px;
    right: 0;
    z-index: 999;
    top: 75px;
    border: 1px solid #c8c8c8;
    width: 94%;
}
#message h3 {
margin: 0;
font-size: 16px;
padding: 10px 15px;
text-align: left;
width: 100%;
    color: #2c2c2c;
}
#message p {
    padding: 10px 15px;
    font-size: 15px;
    text-align: left;
    display: inline-block;
    width:100%;
    color: #2c2c2c;
}
.invalid::before
{padding-right: 8px;left: 0;}

input[type="password"].valid:before
{
   position: relative;
    left: 0;
    content: "f058";
    font-family:'FontAwesome';
    color: #fff;
    height: 20px;
    width: 20px;
    background: green;
    text-align: center;
    padding: 0 !important;
    display: inline-block;
    border-radius: 50%;
    line-height: 20px;
    font-size: 13px;
    margin-right: 5px;
}
.validsecnew
{
position: absolute;
right: 23px;
top: 35px;
font-size: 26px;
color: green;
 display:none;
}
span.req-field-star {
    font-size: 20px;
    color: red;
    float: left;
    line-height: 17px;
    font-family: 'Roboto', sans-serif;
    left: 0;
    right: auto;
    top: 6px;
    margin-top: 20px;
    margin-right: 5px;
}	
.fields-sec label{
	margin-top: 15px;
}